<div class="container">

  <div ng-if="$ctrl.loading"
       class="application">
    <div class="loader"></div>
  </div>

  <div class="application"
       ng-if="!$ctrl.loading">
    <header class="header">
      <div class="header-sort header-item">
        <i class="header-sort-btn fa fa-caret-up"
           type="button">
        </i>
        <i class="header-sort-btn fa fa-caret-down"
           type="button">
        </i>
      </div>

      <div class="header-item header-search">
        <!-- TODO: MOVE TO DIRECTIVE -->
        <search-locations locations="$ctrl.locations">
        </search-locations>
      </div>

      <button class="header-datepicker header-item"
              type="button">
        <i class="fa fa-calendar"></i>
      </button>

      <div class="header-date-range header-item">
        <!-- TODO: MOVE TO DIRECTIVE -->
        <ul class="list-inline list-unstyled">
          <li ng-repeat="date in [13,14,15,16,17,18,19]">
            <button class="header-datepicker header-item"
                    type="button">
              {{date}}
            </button>
          </li>
        </ul>
      </div>

      <button class="header-datepicker header-item"
              type="button">
        <i class="fa fa-cog"></i>
      </button>

      <!-- TODO: MOVE TO DIRECTIVE -->
      <a class="header-link header-item"
         href
         type="button">
        Link to this view
      </a>
    </header>

    <div class="places-list">
      <ul class="list-unstyled">
        <li ng-repeat="location in $ctrl.locations track by $index"
            class="places-list-item clearfix">
          <div class="places-list-icons pull-left">
            <i class="fa fa-remove"
               ng-click="$ctrl.removeLocation($index)"
               ng-show="$ctrl.locations.length > 0">
            </i>
            <br>
            <i class="fa fa-home"
               ng-click="$ctrl.setBaseLocation($index)"
               ng-show="!location.isHome && $ctrl.locations.length > 0">
            </i>
          </div>

          <div class="places-list-time-offset pull-left">
            <span ng-show="!location.isHome">
              {{location.relativeOffset.viewValue}}
            </span>
            <span ng-show="location.isHome"
                  class="fa fa-home"></span>
          </div>

          <div class="places-list-item-desc pull-left">
            <span class="places-list-item-city"><b>{{location.city}}</b></span><br>
            <span class="places-list-item-country">{{location.country}}</span><br>
            <span class="places-list-item-tz">{{location.timezone.abbr}}</span> -
            <span class="places-list-item-country">{{location.timezone.timeZoneName}}</span>
          </div>

          <ul class="list-unstyled list-inline">

            <!-- TODO: MOVE TO DIRECTIVE -->
            <li ng-repeat="timestamp in $ctrl.utcRange track by $index"
                ng-class="{
                  'start': $ctrl.isDayBoundary(timestamp, location, 'start'),
                  'end': $ctrl.isDayBoundary(timestamp, location, 'end')
                }"
                class="range-item">
              <span ng-show="!$ctrl.isDayBoundary(timestamp, location, 'start')">
                {{timestamp|amTimezone:location.timezone.timeZoneId|amDateFormat:'H'}}
              </span>

              <span ng-show="$ctrl.isDayBoundary(timestamp, location, 'start')">
                <span class="day-of-week">
                  {{timestamp|amTimezone:location.timezone.timeZoneId|amDateFormat:'ddd'}}
                </span>
                <span class="day-of-month">
                  {{timestamp|amTimezone:location.timezone.timeZoneId|amDateFormat:'MMM'}}
                </span>
                <span class="month">
                  {{timestamp|amTimezone:location.timezone.timeZoneId|amDateFormat:'D'}}
                </span>
              </span>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
