<div class="range-picker-overlay"
     ng-class="{'is-choosing': $ctrl.choosing }"
     click-outside="$ctrl.cancelHandler()"
     outside-if-not="not-canceleable">

  <div class="range-picker-handle-overlay range-picker-handle-overlay-left"></div>
  <div class="range-picker-handle-overlay range-picker-handle-overlay-right"></div>

  <div class="range-picker-handle"
       ng-click="$ctrl.clickHandler($event)"
       ng-class="{'is-choosing': $ctrl.choosing }">
    <div class="range-picker-drag-handle range-picker-drag-handle-left"
         ng-mousedown="$ctrl.startDrag($event)"
         ng-show="$ctrl.choosing">
    </div>

    <div class="range-picker-drag-handle range-picker-drag-handle-right"
         ng-mousedown="$ctrl.startDrag($event)"
         ng-show="$ctrl.choosing"></div>
  </div>
</div>