<div class="container">
  <header class="header">
    <div class="header-sort header-item">
      <i class="header-sort-btn fa fa-caret-up"
         type="button">
      </i>
      <i class="header-sort-btn fa fa-caret-down"
         type="button">
      </i>
    </div>

    <div class="header-item header-search">
      <form ng-submit="$ctrl.searchPlaces()"
            NOVALIDATE>
        <i class="header-search-icon fa fa-search"></i>
        <input type="text"
               placeholder="Search By City"
               class="header-search-input"
               ng-model="$ctrl.placeQuery">
      </form>
    </div>

    <button class="header-datepicker header-item"
            type="button">
      <i class="fa fa-calendar"></i>
    </button>

    <div class="header-date-range header-item">
      <ul class="list-inline list-unstyled">
        <li ng-repeat="date in [13,14,15,16,17,18,19]">
          <button class="header-datepicker header-item"
                  type="button">
            {{date}}
          </button>
        </li>
      </ul>
    </div>

    <button class="header-datepicker header-item"
            type="button">
      <i class="fa fa-cog"></i>
    </button>
  </header>

  <div class="places-list">

  </div>
</div>
