body {
  background-color: grey;
  font-family: Helvetica;
}

* { margin: 0; padding: 0; box-sizing: border-box; }
input:focus { outline: none; }
.clearfix:after { content: ""; display: table; clear: both; }

.absolute-center { top: 0; left: 0; right: 0; bottom: 0; margin: auto; position: absolute; }
.list-inline li { display: inline-block; vertical-align: middle; }
.list-unstyled {list-style: none;}
.pull-left { float: left; }

.container { width: 1024px; margin: 0 auto; }

.application { min-height: 240px; position: relative; border: 1px solid #eee; border-radius: 3px 3px 0 0;
  background-color: #fff;  margin-top: 40px; }

.load-spinner {
  width: 49px; height: 49px; border: 3px solid #ccc;
  border-radius: 50%; border-left-color: #eee; border-right-color: #eee;
  animation: cssload-spin 1400ms infinite linear;
}

@keyframes cssload-spin {
  100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
  100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
  100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
  100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
  100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}


.loader {
  .absolute-center;
  .load-spinner;
}

// header
.header {
  border-bottom: 1px solid #ccc; color: black; background: #eee; padding: 5px;

  &-item { display: inline-block; vertical-align: top; }
}

.header-sort {
  &-btn { cursor: pointer; font-size: 24px; line-height: 35px; vertical-align: middle; }
  &-btn:hover { color: tomato; }
}

.header-search {
  border: none; background-color: white; padding-left: 30px;
  position: relative;
  &-icon { color: gray; vertical-align: middle; position: absolute; top: 8px; left: 8px; }
  &-input { width: 240px; height: 35px; font-size: 16px; line-height: 18px; border: none; }
}

.header-datepicker { width: 35px; height: 35px; cursor: pointer; font-size: 18px; vertical-align: middle; }
.header-link { line-height: 35px; vertical-align: middle; padding: 0 10px; }
.header-date-range {
  li { margin-right: 5px; }
}

// places list

@list_item_height: 80px;
.places-list { background-color: #fff; position: relative; }

.places-list-item {
  width: 100%; border-top: 1px solid #ccc; height: @list_item_height; position: relative;
  padding: 5px;
  &:nth-child(even) { background-color: rgba(238,238,238,0.6); }
  &:first-child { border: none; }
}

.places-list-icons {
  width: 36px; font-size: 18px; text-align: center; position: relative;
  .fa { cursor: pointer; position: absolute; top: 24px; right: 0; left: 0;
    margin: auto; }
  .fa:hover { color: tomato; }
  .fa-home { top: 42px; }
}

.places-list-time-offset { width: 40px; font-size: 18px;
 color: #ffb500; text-align: center; line-height: @list_item_height;

  .fa { color: black; }
}

.places-list-item-desc { width: 235px; cursor: move; padding: 5px;
  overflow: hidden; white-space: nowrap; }

.places-list-item-city { font-size: 20px; vertical-align: middle; }
.places-list-item-tz { display: inline-block; padding: 3px; background-color: #eee;
  border-radius: 3px; font-size: 10px; border: 1px solid #ccc; }
.places-list-item-country { font-size: 12px; }


// range-item

.range-item {
  width: 29px; height: 29px; display: inline-block; color: #8BA3C9; background-color: #EDFBFF;
  line-height: 28px; text-align: center; margin-top: 22px; position: relative;
  border-top: 1px solid #8BA3C9; border-bottom: 1px solid #8BA3C9;

  &.start { background-color: #8BA3C9; color: white;  border-radius: 3px 0 0 3px;
    border-left: 1px solid #EDFBFF; font-size: 10px; line-height: normal; }

  &.end { background-color: #8BA3C9; color: white;  border-radius: 0 3px 3px 0;
    border-right: 1px solid #EDFBFF; }

  &.start .day-of-week { position: absolute; top: -16px; left: 0; right: 0; color: black; }
  &.start .day-of-month { position: absolute; top: 2px; left: 0; right: 0; }
  &.start .month { position: absolute; top: 14px; left: 0; right: 0; }
}